.chat-container {
	width: 100%;
	height: 100%;
	margin: 1em auto;
	overflow-y: hidden;
	display: flex;
	flex-direction: column;

	.conversation-container {
		flex: 1;
		overflow-y: hidden;

		.conversation-inner {
			height: 100%;
			max-height: 100%;
			width: 100%;
			overflow-y: auto;
		}
	}
}
